# Importing Libraries

In [1]:
# System libraries
import os
import sys

# Database Connector
import pymysql

# Data Manipulator
import pandas as pd
import numpy as np

# Cometic library
from IPython.display import clear_output

# Accesory Libraries
import time

# Import Custom Library
import CompData as cd

# Set Up

In [2]:
CSV_Name = ['application_test.csv', 'bureau.csv', 
            'credit_card_balance.csv', 'previous_application.csv', 
            'POS_CASH_balance.csv', 'application_train.csv', 'bureau_balance.csv', 
            'installments_payments.csv', 'sample_submission.csv']

Table_Name = [i.replace('.csv', '').replace('_', ' ') for i in CSV_Name]

Table_Name = ['{0}'.format([k.capitalize() 
                            for k in i.split(' ')]).replace("['", '')\
                                     .replace("', '", '_').replace("']", '') 
              for i in Table_Name]

# Global Functions

In [3]:
def explore(Table):
    
    Query = '''

    SELECT * 
    FROM {0}
    LIMIT 3;
    
    '''.format(Table)
    
    return pd.read_sql_query(Query, connector)

def colextract(self):
    Structure = pd.DataFrame(data = (list(self.columns), list(self.dtypes)),
                             index = ['colnames', 'dtypes'])
    Structure = Structure.T
    Structure['dtypes'] = np.where(Structure['dtypes'] == 'object', 'VARCHAR(200)', Structure['dtypes'])
    Structure['dtypes'] = np.where(Structure['dtypes'] == 'float64', 'FLOAT', Structure['dtypes'])
    Structure['dtypes'] = np.where(Structure['dtypes'] == 'int64', 'BIGINT', Structure['dtypes'])
    Structure['Concat'] = ['{0} {1}'.format(Structure.iloc[i,0], Structure.iloc[i,1]) for i in range(len(Structure))]

    Columns = str(tuple(Structure['Concat']))
    return Columns.replace("'", "")

def table_creator(Table_Name, Columns):
    
    Drop_Table = '''

    DROP TABLE IF EXISTS {0};

    '''.format(Table_Name)

    Create_Table = '''

    CREATE TABLE {0} 
    {1};

    '''.format(Table_Name, Columns)
    
    gen_db = connector.cursor()
    Status_Drop = gen_db.execute(Drop_Table)
    Status_Create = gen_db.execute(Create_Table)
    
    clear_output(wait=True)
    
    print('Drop Status: {0}'.format(Status_Drop), '\nCreate Status: {0}'.format(Status_Create))
    
    gen_db.close()
    
def to_mysql(File, Table):
    
    variables = tuple('@{0}'.format(i.replace(' BIGINT', '').replace(' VARCHAR(200)', '')\
                                    .replace('FLOAT', '').replace('(', '').replace(')', ''))
                      for i in Columns[File].split(', '))
    variable = str(variables).replace("'", '')

    set_variable = list(i.replace('(', '').replace(')', '')\
                        .replace(' BIGINT', " = NULLIF({0}, '')".format(j))\
                        .replace(' VARCHAR200', " = NULLIF({0}, '')".format(j))\
                        .replace('FLOAT', " = NULLIF({0}, '')".format(j))
                        for i, j in zip(Columns[File].split(', '), variables))

    set_variable = str(set_variable).replace('"', '').replace('[', '').replace(']', '')
    
    Loading_Data = '''

    LOAD DATA LOCAL INFILE "/Users/bicboi/Desktop/Work/Housing_Loan/home-credit-default-risk/{0}"
    INTO TABLE {1}
    COLUMNS TERMINATED BY ','
    OPTIONALLY ENCLOSED BY '"'
    ESCAPED BY '"'
    LINES TERMINATED BY '\n'
    IGNORE 1 LINES
    {2}
    SET {3};

    '''.format(File, Table, variable, set_variable)
    
    Compress_Table = '''
    
    OPTIMIZE TABLE {0};
    
    '''.format(Table)
    
    load_data = connector.cursor()
    Status_Load = load_data.execute(Loading_Data)
    
    compress_data = connector.cursor()
    load_data.execute(Compress_Table)
    
    clear_output(wait=True)
    
    print('Status: Pass\n# Of Rows: {0}'.format(Status_Load))
    
    load_data.close()

# Importing Columns To Python

In [4]:
Columns = {}

for i in CSV_Name:
    
    Testing = pd.read_csv('home-credit-default-risk/{0}'.format(i),nrows = 30)

    Columns[i] = colextract(Testing)

In [5]:
variables = tuple('@{0}'.format(i.replace(' BIGINT', '').replace(' VARCHAR(200)', '')\
                                .replace('FLOAT', '').replace('(', '').replace(')', ''))
                  for i in Columns['application_test.csv'].split(', '))
variable = str(variables).replace("'", '')

set_variable = list(i.replace('(', '').replace(')', '')\
                    .replace(' BIGINT', " = NULLIF({0}, '')".format(j))\
                    .replace(' VARCHAR200', " = NULLIF({0}, '')".format(j))\
                    .replace('FLOAT', " = NULLIF({0}, '')".format(j))
                    for i, j in zip(Columns['application_test.csv'].split(', '), variables))

set_variable = str(set_variable).replace('"', '').replace('[', '').replace(']', '')

# Configuring MySQL Connector

In [6]:
# Pulling in Credentials
Credentials = eval(pd.read_csv(Cred_Path, header = None).iloc[0,0])

# Establishing Connection
connector = pymysql.connect(port = Credentials['port'],
                            user = Credentials['user'], passwd = Credentials['pass'])

# Drop DataBase And Recreate

In [7]:
Dropper = connector.cursor()
Drop_DB = '''

DROP DATABASE IF EXISTS Housing;

'''
Dropper.execute(Drop_DB)
Dropper.close()

Creator = connector.cursor()
Create_DB = '''

CREATE DATABASE Housing;

'''
Creator.execute(Create_DB)
Creator.close()

connector.close()

/usr/local/lib/python3.7/site-packages/pymysql/cursors.py:170: Warning: (1008, "Can't drop database 'housing'; database doesn't exist")
  result = self._query(query)

# Re-Esthablish Connection

In [8]:
# Establishing Connection
connector = pymysql.connect(port = Credentials['port'],
                            user = Credentials['user'], passwd = Credentials['pass'],
                            db = 'Housing', charset = 'utf8mb4')

# Loading Data

### Creating Tables

In [9]:
for i, j in zip(Columns.values(), Table_Name):
    table_creator(j, i)

Drop Status: 0
Create Status: 0

### Loading CSV

In [10]:
# Ending Connection first
connector.close()

In [11]:
# Re-establishing Connection
connector = pymysql.connect(port = Credentials['port'],
                            user = Credentials['user'], passwd = Credentials['pass'],
                            autocommit = True, local_infile = 1,
                            db = 'Housing', charset = 'utf8mb4')

In [12]:
connector.cursor().execute('SET GLOBAL local_infile = 1;')

0

In [13]:
for i, j in zip(CSV_Name, Table_Name):
    print(j)
    to_mysql(i, j)

Status: Pass
# Of Rows: 48744

In [14]:
for i in Table_Name:
    
    print(connector.cursor().execute('OPTIMIZE TABLE {0};'.format(i)))
    
    clear_output(wait=True)

2

In [15]:
connector.cursor().execute('SET GLOBAL local_infile = 0;')

0

In [16]:
pd.read_sql_query('SHOW VARIABLES LIKE "local_infile";', connector)

  Variable_name Value
0  local_infile   OFF

# End Session

In [17]:
connector.close()